* {
  margin: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(28, 28, 28);
  background: #1a1a1a;
  background: linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 9%,
    rgba(48, 48, 48, 1) 50%,
    rgba(26, 26, 26, 1) 91%
  );
  color: white;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

/* Main container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  /* margin: 0 auto; */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Headings */
.app-title {
  margin: 0px;
}
.header-box {
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 2rem;
  background-color: #151515;
  background: #0d0d0d;
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 0%,
    rgba(28, 28, 28, 1) 50%,
    rgba(13, 13, 13, 1) 100%
  );
  width: 100vw;
  height: 13rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 2px 5px rgb(0, 0, 0);
  box-shadow: 2px 2px 25px rgba(191, 183, 255, 0.262);
  transform: scale(1.1);
  padding: 3.5rem 0rem 0rem 0rem;
  border-radius: 0rem 0rem 35rem 35rem;
}
.header-box h1 {
  color: rgb(248, 248, 248);
  text-shadow: 5px 2px 5px rgb(0, 0, 0);
  padding-bottom: 0.2rem;
}

.section-title {
  font-size: 35px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
  color: rgb(227, 227, 227);
}

.results-title {
  font-size: 181px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* Search section */
.search-section {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  margin-top: 2rem;
  background-color: rgba(155, 160, 255, 0.119);
  border-radius: 0rem 0rem 0.6rem 0.6rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 0rem 0rem 35rem 35rem;
}

.search-form {
  display: flex;
  gap: 8px;
  margin-top: 3px;
}

.search-input {
  flex-grow: 1;
  padding: 8px;
  height: 1.8em;
  width: 33rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  font-size: 16px;
  margin-left: 2.5rem;
  margin-right: 1rem;
  margin-top: 3px;
  background-color: rgb(244, 244, 244);
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.search-button {
  background-color: rgba(119, 122, 177, 0.548);
  color: rgb(255, 255, 255);
  padding: 8px;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 25px;
  margin: 0px 0px 0px 10px;
  width: 3.4rem;
  height: 3.4rem;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.318);
}

.search-button:hover {
  background-color: rgba(197, 200, 255, 0.551);
}
.search-button:active {
  background-color: rgba(84, 87, 136, 0.311);
  box-shadow: none;
}

/* Messages */
.loading-message {
  margin-top: 16px;
}

.error-message {
  margin-top: 16px;
  color: #dc2626;
}

.empty-watchlist {
  color: #666;
}

/* Movie grid and cards */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Responsive grid */
/* @media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */
#watch-title {
  display: flex;
  justify-self: center;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: none;
  transform: scaleX(1.2);
  text-shadow: 3px 3px 10px black;
}

.movie-card {
  border: 1px solid rgba(193, 183, 255, 0.407);
  border-radius: 10px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(26, 24, 34, 0.514);
  background: #121212;
  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(28, 28, 28, 1) 50%,
    rgba(18, 18, 18, 1) 100%
  );
  height: 24rem;
  width: 12rem;
  margin: 1rem;
  box-shadow: 2px 2px 7px rgba(193, 183, 255, 0.407);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.movie-poster {
  width: 100%;
  height: 300px;
  max-height: 230px;
  object-fit: cover;
  margin-bottom: 8px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.no-poster {
  width: 100%;
  height: 300px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  margin-bottom: 8px;
}

.movie-title {
  font-weight: 500;
  margin-bottom: 8px;
}

/* Buttons */
.card-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add-button {
  background-color: #639b5390;
  background: #5fa651;
  background: linear-gradient(
    90deg,
    rgba(95, 166, 81, 0.695) 0%,
    rgb(30, 61, 26) 50%,
    rgba(95, 166, 81, 0.695) 100%
  );
  color: white;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  height: 2rem;
  width: 100%;
  font-weight: bold;
}

.add-button:hover {
  background-color: #137c39;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.921);
}

.remove-button {
  background-color: #ba3333ea;
  background: #ba3838;
  background: linear-gradient(
    90deg,
    rgba(186, 56, 56, 0.81) 0%,
    rgb(94, 36, 24) 50%,
    rgba(186, 56, 56, 0.85) 100%
  );
  color: white;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  width: 100%;
  font-weight: bold;
}

.remove-button:hover {
  background-color: #7d1919;
}
.rateButton {
  background-color: #4d4862df;
  background: #6d5a91;
  background: linear-gradient(
    90deg,
    rgba(109, 90, 145, 0.699) 0%,
    rgb(47, 46, 75) 50%,
    rgba(109, 90, 145, 0.699) 100%
  );
  color: white;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  height: 2rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 9px;
}
.rateButton:hover {
  background-color: #524972;
}
.rateBtn {
  height: 15px;
  width: 15px;
  border-radius: 2rem;
  margin-right: 1.6px;
  margin-top: 9px;
  background-color: rgb(31, 31, 31);
}
/* Search results section */
.search-results {
  margin-top: 16px;
}

/* Watchlist section */
.watchlist-section {
  margin-top: 1rem;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popup-content {
  background: rgba(0, 0, 0, 0.856);
  padding: 2rem;
  border-radius: 5px;
  width: 18rem;
  text-align: center;
  border: 1px solid rgb(116, 116, 116);
}

.popup-poster {
  width: 13rem;
  border-radius: 8px;
}
.popup-content button {
  margin-top: 8px;
  background-color: #ba3333ea;
  color: white;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  height: 2rem;
  width: 80%;
}
.popup-content button:hover {
  background-color: #7d1919;
}
@media (max-width: 768px) {
  .movie-grid {
    /* display: grid;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; */
    display: flex;
    width: 100vw;
    flex-direction: row;
  }

  .movie-card {
    border: 1px solid rgba(193, 183, 255, 0.407);
    border-radius: 10px;
    padding: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(26, 24, 34, 0.514);
    background: #121212;
    background: linear-gradient(
      90deg,
      rgba(18, 18, 18, 1) 0%,
      rgba(28, 28, 28, 1) 50%,
      rgba(18, 18, 18, 1) 100%
    );
    height: 19rem;
    width: 8rem;
    margin: 0.5rem;
    box-shadow: 2px 2px 7px rgba(193, 183, 255, 0.407);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .movie-poster {
    width: 100%;
    height: 250px;
    max-height: 190px;
    object-fit: cover;
    margin-bottom: 8px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
  }

  .no-poster {
    width: 100%;
    height: 300px;
    max-height: 190px;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    margin-bottom: 8px;
  }
  body {
    display: flex;
    width: 130%;
    justify-content: center;
  }

  .header-box {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 2rem;
    background-color: #151515;
    background: #0d0d0d;
    background: linear-gradient(
      90deg,
      rgba(13, 13, 13, 1) 0%,
      rgba(28, 28, 28, 1) 50%,
      rgba(13, 13, 13, 1) 100%
    );
    width: 270%;
    height: 10.5rem;
    border-radius: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 2px 5px rgb(0, 0, 0);
    box-shadow: 2px 2px 25px rgba(191, 183, 255, 0.262);
    transform: scale(1.1);
    padding: 4.5rem 0rem 0rem 0rem;
    border-radius: 0rem 0rem 35rem 35rem;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
  }
  .header-box h1 {
    color: rgb(248, 248, 248);
    text-shadow: 5px 2px 5px rgb(0, 0, 0);
    padding-bottom: 0.2rem;
  }
  #watch-title {
    display: flex;
    justify-self: center;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: none;
    transform: scaleX(1.2);
    text-shadow: 3px 3px 10px black;
  }
  .search-section {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: 2rem;
    background-color: rgba(155, 160, 255, 0.119);
    border-radius: 0rem 0rem 0.6rem 0.6rem;
    padding-top: 0.7rem;
    padding-bottom: 1.1rem;
    border-radius: 0rem 0rem 35rem 35rem;
    -webkit-border-radius: 0rem 0rem 35rem 35rem;
    -moz-border-radius: 0rem 0rem 35rem 35rem;
    -ms-border-radius: 0rem 0rem 35rem 35rem;
    -o-border-radius: 0rem 0rem 35rem 35rem;
  }
  .search-input {
    flex-grow: 1;
    padding: 8px;
    height: 1.8em;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 16px;
    margin-left: 0.7rem;
    margin-right: 0.5rem;
    margin-top: 3px;
    background-color: rgba(244, 244, 244, 0.877);
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
  }
  .section-title {
    display: none;
  }
  .search-button {
    margin: 0px 0px 0px 5px;
  }
  .movie-title {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 11px;
    height: 15px;
    overflow: hidden;
  }
  .add-button {
    font-size: 13px;
    font-weight: 100;
    height: 2em;
  }
  .remove-button {
    font-size: 13px;
    font-weight: 100;
    height: 2em;
  }
  .rateButton {
    font-size: 13px;
    font-weight: 100;
    height: 2em;
  }
}
